<div class="card mt-4">
    <div class="card-header">Pathadora</div>
    <div class="card-body">
        <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
        <div *ngIf="currentUser">
            <p>Benvenuto {{currentUser.user_username}}!</p>
        </div>
        <div >
            <dashboard-resources *ngIf="currentUser && (currentUser.user_role === 'teacher' || currentUser.user_role === 'admin')"></dashboard-resources>
            <dashboard-user *ngIf="currentUser && currentUser.user_role === 'user'"></dashboard-user>
        </div>
    </div>
</div>