<div class="col-md-6 offset-md-3 mt-5">
    <div class="card">
        <h4 class="card-header">Dashboard docente</h4>
        <div class="card-body">
            <form enctype="multipart/form-data" [formGroup]="resourceForm" (ngSubmit)="onSubmit()">
                <div id="courses" formArrayName="courses" *ngFor="let c of coursesData; let i = index">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="mb-0">
                              <button mdbBtn class="btn btn-link" type="button" (click)="test.toggle()">
                                {{c.course_name}}
                              </button>
                            </h5>
                          </div>
                        <div mdbCollapse #test="bs-collapse">
                            <div *ngFor="let r of c.course_resources" class="form-group" >
                                <div class="card-body" >
                                    <a href="{{apiUrl}}/public/{{r.name}}">{{r.name}}</a>
                                    <ul>
                                        <li *ngFor="let m of r.metadata | keyvalue">
                                            {{m.key}}: {{m.value}}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <label class="d-none" for=c._id>{{c.course_name}}</label>
                            <input class="form-control-file" type="file" (input)="fileChoosen($event, i)" [formControlName]="i" [id]="i" name="resource">    
                        </div>
                    </div>
                </div>
                <button [disabled]="loading" class="btn btn-primary">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Salva
                </button>
                <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
            </form>
        </div>
    </div>
</div>