<div class="col-md-6 offset-md-3 mt-5">
    <div *ngIf="currentStep === 1" class="card">
        <h4 class="card-header">Ottieni un learning path</h4>
        <div class="card-body">
            <form (ngSubmit)="firstStepSubmit()">
                
                <button [disabled]="loading" class="btn btn-primary">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Richiedi la lista di dipartimenti e facoltà consigliati
                </button>
                <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
            </form>
        </div>
    </div>
    <div *ngIf="currentStep === 2" class="card">
        <h4 class="card-header">Ottieni un learning path</h4>
        <div class="card-body">
            <form [formGroup]="secondStepForm" (ngSubmit)="secondStepSubmit()">
                <div class="form-group">
                    <label for="faculty">Facoltà consigliate</label>
                    <select type="text" formControlName="faculty" id="course_faculty" class="form-control form-select" [ngClass]="{ 'is-invalid': submitted && f.faculty.errors }" >
                        <option value="null" disabled>Seleziona la facoltà</option>
                        <option *ngFor="let f of facultiesData; let i = index" [ngValue]="f.faculty_name">{{f.faculty_name}}</option>
                    </select>
                    <div *ngIf="submitted && f.faculty.errors" class="invalid-feedback">
                        <div *ngIf="f.faculty.errors.required">Seleziona una facoltà</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="department">Dipartimenti consigliati</label>
                    <ul class="list-group">
                        <li *ngFor="let d of departmentsData; let i = index" class="list-group-item">{{d.department_name}}</li>
                    </ul>
                </div>
                <div class="form-group">
                    <label for="year">Anno</label>
                    <select type="number" formControlName="year" id="year" class="form-control form-select" [ngClass]="{ 'is-invalid': submitted && f.year.errors }" >
                        <option value="null" disabled>Seleziona un anno</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    <div *ngIf="submitted && f.year.errors" class="invalid-feedback">
                        <div *ngIf="f.year.errors.required">Seleziona un anno</div>
                    </div>
                </div>
                <div class="form-group">
                    <button [disabled]="loading" class="btn btn-primary">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        Richiedi la lista di corsi consigliati
                    </button>
                    <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
                </div>
            </form>
        </div>
    </div>
    <div *ngIf="currentStep === 3" class="card">
        <h4 class="card-header">Ottieni un learning path</h4>
        <div class="card-body">
            <form [formGroup]="thirdStepForm" (ngSubmit)="thirdStepSubmit()">
                <div class="form-group">
                    <label for="course">Corsi consigliati</label>
                    <select type="text" formControlName="course" id="course" class="form-control form-select" [ngClass]="{ 'is-invalid': submitted && thirdStepF.course.errors }" >
                        <option value="null" disabled>Seleziona il corso</option>
                        <option *ngFor="let c of coursesData; let i = index" value="{'Course_' + c.course_name}">{{c.course_name}}</option>
                    </select>
                    <div *ngIf="submitted && thirdStepF.course.errors" class="invalid-feedback">
                        <div *ngIf="thirdStepF.course.errors.required">Seleziona un corso</div>
                    </div>
                </div>
               
                <div class="form-group">
                    <button [disabled]="loading" class="btn btn-primary">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        Richiedi la lista di risorse consigliate
                    </button>
                    <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
                </div>
            </form>
        </div>
    </div>
    <div *ngIf="currentStep === 4" class="card">
        <h4 class="card-header">Ottieni un learning path</h4>
        <div *ngFor="let r of resourcesData; let i = index" class="card">
            <div class="card-body">
                <a href="{{apiUrl}}/public/{{r.name}}.{{r.resourceExtension}}"><h5 class="card-title">{{r.name}}</h5></a>
                <p class="card-text">
                    Estensione: {{r.resourceExtension}}
                </p>
                <p class="card-text">
                    Rapporto di contrasto: {{r.resourceCheckRatio}}/21
                </p>
                <p class="card-text">
                    Dimensione minima del font: {{r.resourceFontSize}}
                </p>
                <p class="card-text">
                    Tipo: {{r.resourceType}}
                </p>
                <p class="card-text">
                    Facilità di lettura: {{r.resourceReadingEase}}/100
                </p>
            </div>
        </div>
    </div>
</div>