<div class="col-md-6 offset-md-3 mt-5">
    <div *ngIf="currentStep === 1" class="card">
        <h4 class="card-header">Ottieni un learning path</h4>
        <div class="card-body">
            <form (ngSubmit)="firstStepSubmit()">
                
                <button [disabled]="loading" class="btn btn-primary">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Richiedi la lista di dipartimenti e facoltà consigliati
                </button>
                <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
            </form>
        </div>
    </div>
    <div *ngIf="currentStep === 2" class="card">
        <h4 class="card-header">Ottieni un learning path</h4>
        <div class="card-body">
            <form [formGroup]="secondStepForm" (ngSubmit)="secondStepSubmit()">
                <div class="form-group">
                    <label for="faculty">Facoltà</label>
                    <select type="text" formControlName="faculty" id="course_faculty" class="form-control form-select" [ngClass]="{ 'is-invalid': submitted && f.faculty.errors }" >
                        <option value="null" disabled>Seleziona la facoltà</option>
                        <option *ngFor="let f of facultiesData; let i = index" [ngValue]="f.faculty_name">{{f.faculty_name}}</option>
                    </select>
                    <div *ngIf="submitted && f.faculty.errors" class="invalid-feedback">
                        <div *ngIf="f.faculty.errors.required">Seleziona una facoltà</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="department">Dipartimento</label>
                    <select type="text" formControlName="department" id="department" class="form-control form-select" [ngClass]="{ 'is-invalid': submitted && f.department.errors }" >
                        <option value="null" disabled>Seleziona il dipartimento</option>
                        <option *ngFor="let d of departmentsData; let i = index" [ngValue]="d.department_name">{{d.department_name}}</option>
                    </select>
                    <div *ngIf="submitted && f.department.errors" class="invalid-feedback">
                        <div *ngIf="f.department.errors.required">Seleziona un dipartimento</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="year">Anno</label>
                    <select type="text" formControlName="year" id="year" class="form-control form-select" [ngClass]="{ 'is-invalid': submitted && f.year.errors }" >
                        <option value="null" disabled>Seleziona un anno</option>
                        <option value="I">I</option>
                        <option value="II">II</option>
                        <option value="III">III</option>
                        <option value="IV">IV</option>
                        <option value="V">V</option>
                    </select>
                    <div *ngIf="submitted && f.year.errors" class="invalid-feedback">
                        <div *ngIf="f.year.errors.required">Seleziona un anno</div>
                    </div>
                </div>

                <button [disabled]="loading" class="btn btn-primary">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Richiedi la lista di corsi consigliati
                </button>
                <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
            </form>
        </div>
    </div>
</div>