<div class="col-md-6 offset-md-3 mt-5">
    <div class="card">
        <h4 class="card-header">Registrazione</h4>
        <div class="card-body">
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="name">Nome</label>
                    <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                    <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                        <div *ngIf="f.name.errors.required">Inserisci il nome</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="lastname">Cognome</label>
                    <input type="text" formControlName="lastname" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastname.errors }" />
                    <div *ngIf="submitted && f.lastname.errors" class="invalid-feedback">
                        <div *ngIf="f.lastname.errors.required">Inserisci il cognome</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="gender">Sesso</label>
                    <select formControlName="gender" class="form-control form-select" [ngClass]="{ 'is-invalid': submitted && f.gender.errors }">
                        <option value="null" disabled>Seleziona il sesso</option>
                        <option *ngFor="let g of genders" [ngValue]="g.id">{{g.label}}</option>
                     </select>
                    <div *ngIf="submitted && f.gender.errors" class="invalid-feedback">
                        <div *ngIf="f.gender.errors.required">Inserisci il sesso</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="birthdate">Data di nascita</label>
                    <input type="date" formControlName="birthdate" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.birthdate.errors }" />
                    <div *ngIf="submitted && f.birthdate.errors" class="invalid-feedback">
                        <div *ngIf="f.birthdate.errors.required">Inserisci la data di nascita</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                        <div *ngIf="f.username.errors.required">Inserisci un username</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email">E-mail</label>
                    <input type="email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">Inserisci un'e-mail</div>
                    </div>
                </div>

                <div *ngIf="role ==='user'">
                    <div class="form-group">
                        <label for="language">Lingua</label>
                        <input type="text" formControlName="language" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.language.errors }" />
                        <div *ngIf="submitted && f.language.errors" class="invalid-feedback">
                            <div *ngIf="f.language.errors.required">Inserisci la lingua</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="degree">Laurea</label>
                        <select type="text" formControlName="degree" class="form-control form-select" [ngClass]="{ 'is-invalid': submitted && f.degree.errors }" >
                            <option value="null" disabled>Seleziona il tipo di laurea</option>
                            <option value="Bachelor">Triennale</option>
                            <option value="Master">Magistrale</option>
                            <option value="Doctoral">Dottorato</option>
                        </select>
                        <div *ngIf="submitted && f.degree.errors" class="invalid-feedback">
                            <div *ngIf="f.degree.errors.required">Inserisci la laurea</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="future_degree">Futura laurea</label>
                        <select type="text" formControlName="future_degree" class="form-control form-select" [ngClass]="{ 'is-invalid': submitted && f.future_degree.errors }" >
                            <option value="null" disabled>Seleziona il tipo di futura laurea</option>
                            <option value="Bachelor">Triennale</option>
                            <option value="Master">Magistrale</option>
                            <option value="Doctoral">Dottorato</option>
                        </select>
                        <div *ngIf="submitted && f.future_degree.errors" class="invalid-feedback">
                            <div *ngIf="f.future_degree.errors.required">Inserisci la futura laurea</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="passion">Passione</label>
                        <input type="text" formControlName="passion" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.passion.errors }" />
                        <div *ngIf="submitted && f.passion.errors" class="invalid-feedback">
                            <div *ngIf="f.passion.errors.required">Inserisci la passione</div>
                        </div>
                    </div>

                    <div class="form-group container">
                        <p>Learning style</p>
                        <div class="row">
                            <div class="col-12 col-sm-6 col-md-3">
                                <div class="form-check">
                                    <input type="radio" id="active" value="Active" formControlName="active_reflective" class="form-check-input" [ngClass]="{ 'is-invalid': submitted && f.active_reflective.errors }" />
                                    <label class="form-check-label" for="active">
                                        Active
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input type="radio" id="reflective" value="Reflective" formControlName="active_reflective" class="form-check-input" [ngClass]="{ 'is-invalid': submitted && f.active_reflective.errors }" />
                                    <label class="form-check-label" for="reflective">
                                        Reflective
                                    </label>
                                </div>
                            </div>
                            
                            <div class="col-12 col-sm-6 col-md-3">
                                <div class="form-check">
                                    <input type="radio" id="sensing" value="Sensing" formControlName="sensing_intuitive" class="form-check-input" [ngClass]="{ 'is-invalid': submitted && f.sensing_intuitive.errors }" />
                                    <label class="form-check-label" for="sensing">
                                        Sensing
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input type="radio" id="intuitive" value="Intuitive" formControlName="sensing_intuitive" class="form-check-input" [ngClass]="{ 'is-invalid': submitted && f.sensing_intuitive.errors }" />
                                    <label class="form-check-label" for="intuitive">
                                        Intuitive
                                    </label>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-3">
                                <div class="form-check">
                                    <input type="radio" id="visual" value="Visual" formControlName="visual_veral" class="form-check-input" [ngClass]="{ 'is-invalid': submitted && f.visual_veral.errors }" />
                                    <label class="form-check-label" for="visual">
                                        Visual
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input type="radio" id="veral" value="Veral" formControlName="visual_veral" class="form-check-input" [ngClass]="{ 'is-invalid': submitted && f.visual_veral.errors }" />
                                    <label class="form-check-label" for="veral">
                                        Veral
                                    </label>
                                </div>
                            </div>

                            <div class="col-12 col-sm-6 col-md-3">
                                <div class="form-check">
                                    <input type="radio" id="sequential" value="Sequential" formControlName="sequential_global" class="form-check-input" [ngClass]="{ 'is-invalid': submitted && f.sequential_global.errors }" />
                                    <label class="form-check-label" for="sequential">
                                        Sequential
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input type="radio" id="global" value="Global" formControlName="sequential_global" class="form-check-input" [ngClass]="{ 'is-invalid': submitted && f.sequential_global.errors }" />
                                    <label class="form-check-label" for="global">
                                        Global
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <p>User Goal</p>
                        <div class="form-check">
                            <input type="radio" id="deadline_driven" value="Deadline Driven" formControlName="goal" class="form-check-input" [ngClass]="{ 'is-invalid': submitted && f.goal.errors }" />
                            <label class="form-check-label" for="deadline_driven">
                                Deadline driven
                            </label>
                        </div>
                        <div class="form-check">
                            <input type="radio" id="score_driven" value="Score Driven" formControlName="goal" class="form-check-input" [ngClass]="{ 'is-invalid': submitted && f.goal.errors }" />
                            <label class="form-check-label" for="score_driven">
                                Score driven
                            </label>
                        </div>
                        <div class="form-check">
                            <input type="radio" id="learning_awards" value="Learning Awards" formControlName="goal" class="form-check-input" [ngClass]="{ 'is-invalid': submitted && f.goal.errors }" />
                            <label class="form-check-label" for="learning_awards">
                                Learning awards
                            </label>
                        </div>
                        <div class="form-check">
                            <input type="radio" id="user_competency" value="User Competency" formControlName="goal" class="form-check-input" [ngClass]="{ 'is-invalid': submitted && f.goal.errors }" />
                            <label class="form-check-label" for="user_competency">
                                User Competency 
                            </label>
                        </div>
                        <div class="form-check">
                            <input type="radio" id="shortest_path" value="Shortest Path" formControlName="goal" class="form-check-input" [ngClass]="{ 'is-invalid': submitted && f.goal.errors }" />
                            <label class="form-check-label" for="shortest_path">
                                Shortest path
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="disability">Disabilità</label>
                        <input type="text" formControlName="disability" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.disability.errors }" />
                        <div *ngIf="submitted && f.disability.errors" class="invalid-feedback">
                            <div *ngIf="f.disability.errors.required">Inserisci una disabilità</div>
                        </div>
                    </div>
                </div>

                <div *ngIf="coursesFormArray.length > 0" class="form-group">
                    <p>Seleziona uno o più corsi</p>
                    <label formArrayName="courses" *ngFor="let course of coursesFormArray.controls; let i = index">
                        <input type="checkbox" [formControlName]="i" [ngClass]="{ 'is-invalid': submitted && f.courses.errors }">
                        {{coursesData[i].course_name}}
                        <div *ngIf="submitted && f.courses.errors" class="invalid-feedback"></div>
                      </label>
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" />
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Inserisci una password</div>
                        <div *ngIf="f.password.errors.pattern"> Almeno un numero, una maiuscola, una minuscola, 6 caratteri.</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="confirmPassword">Conferma password</label>
                    <input type="password" formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" pattern="{{ f.password.value }}"/>
                    <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                        <div *ngIf="f.confirmPassword.errors.pattern">La password non corrisponde.</div>
                        <div *ngIf="f.confirmPassword.errors.required">Inserisci una password.</div>
                    </div>
                </div>
                <button [disabled]="loading" class="btn btn-primary">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Registrati
                </button>
                <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
            </form>
            <div>
                <a class="text-center nav-item nav-link" routerLink="/login">Hai un account? Accedi</a>
            </div>
        </div>
    </div>
</div>