<div class="col-md-6 offset-md-3 mt-5">
    <div class="card">
        <h4 class="card-header">Registrazione</h4>
        <div class="card-body">
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="name">Nome</label>
                    <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                    <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                        <div *ngIf="f.name.errors.required">Inserisci il nome</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="lastname">Cognome</label>
                    <input type="text" formControlName="lastname" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastname.errors }" />
                    <div *ngIf="submitted && f.lastname.errors" class="invalid-feedback">
                        <div *ngIf="f.lastname.errors.required">Inserisci il cognome</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="gender">Sesso</label>
                    <select formControlName="gender" class="form-control form-select" [ngClass]="{ 'is-invalid': submitted && f.gender.errors }">
                        <option value="null" disabled>Seleziona il sesso</option>
                        <option *ngFor="let g of genders" [ngValue]="g.id">{{g.label}}</option>
                     </select>
                    <div *ngIf="submitted && f.gender.errors" class="invalid-feedback">
                        <div *ngIf="f.gender.errors.required">Inserisci il sesso</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="birthdate">Data di nascita</label>
                    <input type="date" formControlName="birthdate" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.birthdate.errors }" />
                    <div *ngIf="submitted && f.birthdate.errors" class="invalid-feedback">
                        <div *ngIf="f.birthdate.errors.required">Inserisci la data di nascita</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                        <div *ngIf="f.username.errors.required">Inserisci un username</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email">E-mail</label>
                    <input type="email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">Inserisci un'e-mail</div>
                    </div>
                </div>

                <div *ngIf="role ==='user'">
                    <div class="form-group">
                        <label for="education">Educazione</label>
                        <input type="text" formControlName="education" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.education.errors }" />
                        <div *ngIf="submitted && f.education.errors" class="invalid-feedback">
                            <div *ngIf="f.education.errors.required">Inserisci l'educazione</div>
                        </div>
                    </div>

                    <div *ngIf="languagesFormArray.length > 0" class="form-group">
                        <p>Seleziona uno o più lingue</p>
                        <div class="form-check" *ngFor="let language of languagesFormArray.controls; let i = index" formArrayName="languages">
                            <label class="form-check-label">{{languages[i].label}}</label>
                            <input class="form-check-input" type="checkbox" [formControlName]="i" [ngClass]="{ 'is-invalid': submitted && f.languages.errors }">
                            <div *ngIf="submitted && f.languages.errors" class="invalid-feedback"></div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="degree">Laurea</label>
                        <select type="text" formControlName="degree" class="form-control form-select" [ngClass]="{ 'is-invalid': submitted && f.degree.errors }" >
                            <option value="null" disabled>Seleziona il tipo di laurea</option>
                            <option *ngFor="let d of degrees" [ngValue]="d.id">{{d.label}}</option>
                        </select>
                        <div *ngIf="submitted && f.degree.errors" class="invalid-feedback">
                            <div *ngIf="f.degree.errors.required">Inserisci la laurea</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="future_degree">Futura laurea</label>
                        <select type="text" formControlName="future_degree" class="form-control form-select" [ngClass]="{ 'is-invalid': submitted && f.future_degree.errors }" >
                            <option value="null" disabled>Seleziona il tipo di futura laurea</option>
                            <option *ngFor="let d of degrees" [ngValue]="d.id">{{d.label}}</option>
                        </select>
                        <div *ngIf="submitted && f.future_degree.errors" class="invalid-feedback">
                            <div *ngIf="f.future_degree.errors.required">Inserisci la futura laurea</div>
                        </div>
                    </div>

                    <div *ngIf="passionsFormArray.length > 0" class="form-group">
                        <p>Seleziona uno o più passioni</p>
                        <div class="form-check" *ngFor="let passion of passionsFormArray.controls; let i = index" formArrayName="passions">
                            <label class="form-check-label">{{passions[i].label}}</label>
                            <input class="form-check-input" type="checkbox" [formControlName]="i" [ngClass]="{ 'is-invalid': submitted && f.passions.errors }">
                            <div *ngIf="submitted && f.languages.errors" class="invalid-feedback"></div>
                        </div>
                    </div>

                    <div class="form-group">
                        <p>User Goal</p>
                        <div class="form-check" *ngFor="let goal of goals; let i = index">
                            <input type="radio" id="{{goal.id}}" value={{goal.id}} formControlName="goal" class="form-check-input" [ngClass]="{ 'is-invalid': submitted && f.goal.errors }" />
                            <label class="form-check-label" for="{{goal.id}}">
                                {{goal.label}}
                            </label>
                        </div>
                        
                    </div>
                </div>

                <div class="form-group container">
                    <p>Seleziona una o più disabilità e relativi livelli</p>
                    <div class="col-6 d-inline-block">
                        <div class="form-check" *ngFor="let disability of disabilities; let i = index" formArrayName="disabilities">
                            <input class="form-check-input" id="{{ 'disability-' + i }}" [ngValue]="disability.id" type="checkbox" [formControlName]="i" [ngClass]="{ 'is-invalid': submitted && f.disabilities.errors }">
                            <label class="form-check-label" for="{{ 'disability-' + i }}">
                                {{disability.label}}
                            </label>
                            <div *ngIf="submitted && f.disabilities.errors" class="invalid-feedback"></div>
                        </div>
                    </div>
                    <div class="col-6 d-inline-block">
                        <div class="form-check" *ngFor="let disability of disabilities; let i = index"  formArrayName="disabilityLevels">
                            <input id="{{ 'disability-level-' + i }}" [ngValue]="disability.level" type="range" [formControlName]="i" [ngClass]="{ 'is-invalid': submitted && f.disabilityLevels.errors }" min="1" max="100" value="0">
                            <label class="d-none" for="{{ 'disability-level-' + i }}">
                                {{disability.levelLabel}}
                            </label>
                            <div *ngIf="submitted && f.disabilityLevels.errors" class="invalid-feedback"></div>
                        </div>
                    </div>
                </div>

                <div *ngIf="coursesFormArray.length > 0" class="form-group">
                    <p>Seleziona uno o più corsi</p>
                    <div class="form-check" *ngFor="let course of coursesFormArray.controls; let i = index" formArrayName="courses">
                        <label class="form-check-label">{{coursesData[i].course_name}}</label>
                        <input class="form-check-input" type="checkbox" [formControlName]="i" [ngClass]="{ 'is-invalid': submitted && f.courses.errors }">
                        <div *ngIf="submitted && f.languages.errors" class="invalid-feedback"></div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" />
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Inserisci una password</div>
                        <div *ngIf="f.password.errors.pattern"> Almeno un numero, una maiuscola, una minuscola, 6 caratteri.</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="confirmPassword">Conferma password</label>
                    <input type="password" formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" pattern="{{ f.password.value }}"/>
                    <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                        <div *ngIf="f.confirmPassword.errors.pattern">La password non corrisponde.</div>
                        <div *ngIf="f.confirmPassword.errors.required">Inserisci una password.</div>
                    </div>
                </div>
                <div class="form-group">
                    <button [disabled]="loading" class="btn btn-primary">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        Registrati
                    </button>
                    <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
                </div>
            </form>
            <div>
                <a class="text-center nav-item nav-link" routerLink="/login">Hai un account? Accedi</a>
            </div>
        </div>
    </div>
</div>